body
{
   font-family: 'Segoe UI';
}
  ul 
		{
           list-style-type: none;
           margin: 0;
           padding: 0;
           overflow: hidden;
           background-color: #333;
           text-align: center;
        }

        li 
        {
           float: left;
           color: white;
           text-align: center;
           text-decoration: none;
            padding:12px;
            padding-left: 0;
        }
    .conatiner li 
    {
      background-color: #111;
    }
    .con1 li
    {
       display: block;
       background-color: #4CAF50;
       padding: 14px 16px;
    }
    a:link 
    {
        color: white;
        background-color: transparent;
        text-decoration: none;
    }
    a:visited
    {
    	color:white;
    	background-color: none;
    	text-decoration: none;
    }
    a:hover 
    {
        color:#4CAF50;
        background-color: transparent;
        text-decoration: none;
    } 
    .logo
    {
    	border: solid;
    	border-color: #333;
    	width: 100%
    	height: 5%;
    	display: flex;
    	flex-direction: row;
    }  
    .logo1
    {
    	border:none;
        width: 10%;
        height: 5%;
    }
    .name
    {
    	
    	background-color: #edf7ee;
    	width: 100%;
    	height: 5%;
    	margin-top: 1%;
    }	
    .name p
    {
    	margin-left: 15px;
    	font-family: SEGOE UI ;
    	font-size: 17px;
    	color:#61b869;
    }
    .name #email
    {
       margin-left: 63%;
    }
     .navigation 
    {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    .navigation  a 
    {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

     .navigation a:hover:not(.active) 
    {
      background-color: #4CAF50;
    }
    
    #active 
    {
      background-color: #4CAF50;
    }
    .dropdown 
    {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navigation a:hover, .dropdown:hover .dropbtn 
{
  background-color: #4CAF50;
}
.dropdown-content 
{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover 
{
  background-color:#4CAF50 ;
}
.dropdown:hover .dropdown-content 
{
  display: block;
}
.navigation .search-container 
{
  float: right;
}
.navigation input[type=text] 
{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.navigation .search-container button 
{
  float: right;
  padding: 6px 15px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.navigation .search-container button:hover
 {
  background: #ccc;
}
@media screen and (max-width: 600px) 
{
  .navigation .search-container 
  {
    float: none;
  }
  .navigation a, .navigation input[type=text], .navigation .search-container button 
  {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .navigation input[type=text] 
  {
    border: 1px solid #ccc;  
  }
}

img:hover
{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.text
{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: underline overline;
  font-size: 80px;
  color: white;
}
.footer
{
    position: relative;
    margin-top: 0;
    padding: 10px;
   overflow: hidden;
   text-align: center;
   background-color: #333;
   color: white;
}
.contact
{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  background-color: #edf7ee;
}
.contleft
{
  width: 50%;
  border:1px;
  margin: 5px;
  border-radius: 4px;
  padding: 5px;
}
.contleft input[type=text]
{
 padding: 5px;
 width: 65%;
}
.contleft textarea
{
  
  padding: 20px;
 width: 61%;
}
#message
{
  margin-left: 25%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 12px;
  background-color: inherit;
  border:2px solid #4CAF50;
}
#message:hover
{
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
}
.contright
{
  padding: 10px;
  font-size: 30px;
  padding: 15px;
  line-height: 100px;
  text-align: center;
  margin-top: 15px;
  color: green;
}
.gallery table td
{
   text-align: left;

}
.gallery table
{
  
  margin-left: 125px;
}

.workingarea
{
  text-align: center;
 margin-top: 20px;
 margin-bottom: 20px;
}
.career
{
  text-align: center;
  padding: 35px;
  background-color:#edf7ee; 
}
.career h1
{
  color: green;

}